{% extends 'base.html' %}

{% block content %}
<h2>Registrations for {{ seminar.title }}</h2>

<table>
    <tr>
        <th>User</th>
        <th>Email</th>
        <th>Registered At</th>
        <th>Status</th>
    </tr>

    {% for reg in registrations %}
    <tr>
        <td>{{ reg.user.username }}</td>
        <td>{{ reg.user.email }}</td>
        <td>{{ reg.registered_at }}</td>
        <td>
        {% if reg.attended %}
        ✔ Present
        {% else %}
        ❌ Absent
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}