{% extends 'base.html' %}

{% block content %}
<h2>My Distributors</h2>

<table border="1">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for d in distributors %}
    <tr>
        <td>{{ d.username }}</td>
        <td>{{ d.email }}</td>

        <td>
            {% if d.is_active %}
                ✔ Active
            {% else %}
                ❌ Inactive
            {% endif %}
        </td>

        <td>
            <a href="{% url 'toggle_user_status' d.id %}">
                {% if d.is_active %}
                    Deactivate
                {% else %}
                    Activate
                {% endif %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}