{% extends 'base.html' %}

{% block content %}

<h2>Distributor Profile</h2>

<p><strong>Name:</strong> {{ distributor.get_full_name }}</p>
<p><strong>Email:</strong> {{ distributor.email }}</p>

<hr>

<h3>Seminar Participation</h3>

<table border="1">
    <tr>
        <th>Seminar</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for reg in registrations %}
    <tr>
        <td>{{ reg.seminar.title }}</td>
        <td>{{ reg.seminar.date_time }}</td>

        <td>
            {% if reg.attended %}
                ✔ Attended
            {% else %}
                ❌ Not Attended
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}